/* https://stackoverflow.com/questions/23090136/how-can-i-make-my-flexbox-layout-take-100-vertical-space */

#dhx_layout {
  /* min-height: 900px; */
}

.dhx_layout_container {
  min-height: 800px;
  background-color: rgb(255, 0, 0);
}

.dhx_layout_row--top {
  background-color: rgb(134, 121, 121);
}
.dhx_layout_row--middle {
  background-color: rgb(249, 6, 6);
}
.dhx_layout_row--bottom {
  background-color: rgb(140, 115, 115);
}

.dhx_layout_row--middle--left {
  background-color: rgb(242, 13, 13);
}
.dhx_layout_row--middle--middle {
  background-color: rgb(147, 108, 108);
  flex: 1 1;
}
.dhx_layout_row--middle--right {
  background-color: rgb(236, 19, 19);
}

.dhx_layout_row-middle {
  background-color: rgb(179, 77, 77);
  /* flex: 2;
  display: flex; */
}
